.facebook-feed-post {
    padding: 30px;
    background: #fff; 
    margin: 20px 0;  
    word-wrap: break-word;
}

.facebook-feed-post .facebook-feed-post-meta { display: block; color: #999; padding: 0 10px; }
.facebook-feed-post img, .facebook-feed-post .video-wrapper { position: relative; margin-bottom: 20px; max-width: 100%; }

/*&.video { 
    .volume-control-wrapper { 
        position: absolute;
        bottom: 10px; left: 20px;
        color: rgba(255, 255, 255, 0.7);
        cursor: pointer;
        width: 25px;

        @media (max-width: $screen-sm-max) {
            display: none;
        }
    }
}*/