/*
 * This CSS file will be automatically loaded when the block runs.
 */
.block-boilerplate {
    position: relative;;
    min-height: 100px;
    background: #eee;
    border-radius: 3px;
}

.block-boilerplate span {
    display: block;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
}

.facebook-feed-post { 
    border-bottom: 1px solid #f0f0f0;
    padding-bottom: 30px;
    margin-bottom: 30px;
}

.facebook-feed-post:last-child { border-bottom: none; padding-bottom: 0; margin-bottom: 0; }
.facebook-feed-post img { margin-bottom: 20px; }
.facebook-feed-post .post-meta { color: #ccc; }